body {
	transition: all 0.25s ease-in;
}
body>header {
	overflow: hidden;
	padding: 5px 15px;
}
body>header h1 {
	font-size: 11px;
	margin: 0;
	color: rgba(0,0,0,0.75);
	text-shadow: #fff 0 1px 0;
}
body.dark {
	color: #fff;
	background: #000;
}
body.dark>header h1 {
	color: #fff;
	text-shadow: #000 0 1px 0;
}
#watches {
	position: absolute;
	top: 25%;
	left: 5%;
	width: 90%;
	text-align: center;
	color: rgb(55, 55, 55);
}
#watches-face {
	overflow: hidden;
	font-size: 10em;
	line-height: 1em;
	text-shadow: rgba(255,255,255,0.75) -1px -1px 1px, rgba(0,0,0,0.35) 0 6px 12px;
}
#watches-date {
	text-shadow: rgba(255,255,255,0.5) 0 1px 0;
}
#alarm-settings {
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -75px;
	text-align: center;
}
.alarm-status-wrap {
	position: relative;
}
.alarm-status {
	color: #000;
	position: absolute;
	bottom: 0;
	background: rgba(255,255,255,0.85);
	border-radius: 8px;
	font: 14px Arial;
	padding: 12px;
	text-align: center;
	margin-bottom: 30px;
	box-shadow: rgba(0,0,0,0.35) 0 7px 16px 0;
	white-space: nowrap;
}
.alarm-status:after {
	content: '';
	position: absolute;
	left: 16px;
	bottom: -20px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: rgba(255,255,255,0.85);
}
.alarm-active {
	background: rgba(92,184,92,0.85);
	-webkit-animation: alarmbg 3s; /* Chrome, Safari, Opera */
	animation: alarmbg 3s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.alarm-active:after {
	border-top-color: rgba(92,184,92,0.85);
	-webkit-animation: alarmbrd 3s; /* Chrome, Safari, Opera */
	animation: alarmbrd 3s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.alarm-message {display: none;}
.alarm-active .alarm-message {display: block;}
.alarm-active #alarm-status {display: none;}
/* Chrome, Safari, Opera */
@-webkit-keyframes alarmbg {
    0% {background: rgba(255,255,255,0.85);}
    50% {background: rgba(92,184,92,0.85);}
    100% {background: rgba(255,255,255,0.85);}
}
/* Standard syntax */
@keyframes alarmbg {
    0% {background: rgba(255,255,255,0.85);}
    50% {background: rgba(92,184,92,0.85);}
    100% {background: rgba(255,255,255,0.85);}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes alarmbrd {
    0% {border-top-color: rgba(255,255,255,0.85);}
    50% {border-top-color: rgba(92,184,92,0.85);}
    100% {border-top-color: rgba(255,255,255,0.85);}
}
/* Standard syntax */
@keyframes alarmbrd {
    0% {border-top-color: rgba(255,255,255,0.85);}
    50% {border-top-color: rgba(92,184,92,0.85);}
    100% {border-top-color: rgba(255,255,255,0.85);}
}
.reset {
	display: inline-block;
	margin-top: 1em;
	font: 12px Arial;
	color: #555;
}
.dark #watches {color: #fff;}
.dark #watches-face {text-shadow: rgba(0,0,0,0.75) -1px -1px 1px, rgba(0,0,0,0.95) 0 6px 12px;}
.dark #watches-date {text-shadow: rgba(0,0,0,0.75) 0 1px 0;}
.dark .alarm-status {text-shadow:rgba(255,255,255,0.5) 0 1px 0;}
.dark .reset {color: rgba(255,255,255,0.5);}

@media screen and (max-width: 785px) {
	#col-s, #cell-s {display: none;}
}
@media screen and (max-width: 480px) {
	#watches-face {font-size: 8em;}
}
@media screen and (max-width: 400px) {
	#watches-face {font-size: 6em;}
}